.header { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(11, 10, 10);
    border-bottom: 0.1px solid rgba(86, 85, 85, 0.129);
    z-index: 9;
    .container {
        padding: 10px 0;
        font-size: 20px;
        letter-spacing: 1px;
        .logo {
            margin-left: 1.5%;
            font-size: 25px;
        }
        input {
            display: none;
        }
        label {
            font-size: 35px;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
        }
        .menu {
            margin-right: 1.5%;
            a {
                margin-left: 10px;
                color: $btn-link;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
        }
    }
}